<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<f:view xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:a="http://richfaces.org/a4j"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:s="http://jboss.org/schema/seam/taglib"
	xmlns:gluufn="http://www.gluu.org/jsf/functions"
	contentType="text/html">

	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>#{organizationService.organization.organizationTitle}</title>
		<script type="text/javascript">
			if (top != self)
				top.location.href = self.document.location;
			if (parent != self)
				top.location.href = location.href;
			if (top.frames.length != 0)
				top.location.href = self.document.location;
			if (window != window.top)
				top.location.href = location.href;
		</script>

		<link rel="shortcut icon"
			href="#{request.contextPath}/servlet/favicon?v=#{faviconImageServlet.faviconTimestamp}" />
		<link rel="icon"
			href="#{request.contextPath}/servlet/favicon?v=#{faviconImageServlet.faviconTimestamp}" />

		<script type="text/javascript"
			src="#{oxTrustConfigurationService.jsLocation}/gluuCommon.js"></script>
		<h:outputScript name="jquery.js" />
		<ui:param name="themeColor"
			value="#{organizationService.organization.themeColor}" />
		<s:fragment rendered="#{not empty themeColor}">
		<style type="text/css">
		
		.rf-tb-itm, .rf-tb-emp {
			height: 33px;
			background-color: #{gluufn:getColor(themeColor, "00ff00")
		}
		
		</style>
		</s:fragment>
		
		<!-- Stylesheets new theme -->
		<link
			href="#{oxTrustConfigurationService.cssLocation}/../theme/bootstrap/css/bootstrap.min.css"
			rel="stylesheet" type="text/css" />
		<link
			href="#{oxTrustConfigurationService.cssLocation}/../theme/bootstrap/css/font-awesome.min.css"
			rel="stylesheet" type="text/css" />
		<link
			href="#{oxTrustConfigurationService.cssLocation}/../theme/bootstrap/css/ionicons.min.css"
			rel="stylesheet" type="text/css" />
		<link
			href="#{oxTrustConfigurationService.cssLocation}/../theme/dist/css/AdminLTE.min.css"
			rel="stylesheet" type="text/css" />
		<link
			href="#{oxTrustConfigurationService.cssLocation}/../theme/dist/css/skins/_all-skins.min.css"
			rel="stylesheet" title="default" type="text/css" />
		<link
			href="#{oxTrustConfigurationService.cssLocation}/../theme/dist/css/skins/_all-skins-purple.min.css"
			rel="alternate stylesheet" title="purple" type="text/css" />
			
		<link
			href="#{oxTrustConfigurationService.cssLocation}/../theme/dist/css/skins/_all-skins-red.min.css"
			rel="alternate stylesheet" title="red" type="text/css" />
		
		<link
			href="#{oxTrustConfigurationService.cssLocation}/../theme/plugins/iCheck/square/blue.css"
			rel="stylesheet" type="text/css" />
		<link
			href="#{oxTrustConfigurationService.cssLocation}/../theme/plugins/morris/morris.css"
			rel="stylesheet" type="text/css" />
<!-- 		<link -->
<!-- 			href="#{oxTrustConfigurationService.cssLocation}/../theme/plugins/datepicker/datepicker3.css" -->
<!-- 			rel="stylesheet" type="text/css" /> -->
		<!--[if lt IE 9]>
        	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
			<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<link
			href="#{oxTrustConfigurationService.cssLocation}/../theme/dist/css/custom.css"
			rel="stylesheet" type="text/css" />
		<link
			href="#{oxTrustConfigurationService.cssLocation}/../theme/dist/css/rf-override.css"
			rel="stylesheet" type="text/css" />
		<ui:insert name="head" />

	</h:head>
	<h:body styleClass="skin-green">
		<div class="wrapper">
			<h:panelGroup layout="block">
				<ui:include src="topmenu.xhtml">
					<ui:param name="projectName" value="oxTrust" />
				</ui:include>
			</h:panelGroup>
			
			<ui:include src="leftmenu.xhtml">
					<ui:param name="projectName" value="oxTrust" />
			</ui:include>
				
			<div class="#{not isLogin?'body':'loginBody'}">
				
				<div class="content-wrapper">
					<h:messages style="display: none;" id="messages" globalOnly="true"
						styleClass="message" errorClass="errormsg" infoClass="infomsg"
						warnClass="warnmsg" rendered="#{showGlobalMessages != 'false'}" />
					<ui:insert name="body" />
				</div>
			</div>		

		</div>

		<!-- Scripts -->
		<script
			src="#{oxTrustConfigurationService.cssLocation}/../theme/bootstrap/js/bootstrap.min.js"
			type="text/javascript"></script>
		<script
			src="#{oxTrustConfigurationService.cssLocation}/../theme/dist/js/app.min.js"
			type="text/javascript"></script>
		<script
			src="#{oxTrustConfigurationService.cssLocation}/../theme/plugins/iCheck/icheck.min.js"
			type="text/javascript"></script>

		<rich:notifyMessages stayTime="5000" nonblocking="true" />

	    <div class="footer">
			<s:fragment rendered="#{init.debug}">
				<a:log hotkey="D"/>
				<p style="margin-top: -0.5em;">
				   Conversation: id = #{conversation.id}, #{conversation.longRunning ? 'long running' : 'temporary'}#{conversation.nested ? ', nested, parent id = '.concat(conversation.parentId) : ''}
				   #{' - '}
				   Ajax4jsf Log (Ctrl+Shift+D)
				   #{' - '}
				   <s:link id="debugConsole" view="/debug.xhtml" value="Debug console" target="debugConsole"/>
				   #{' - '}
				   <s:link id="resetSession" view="/home.xhtml" action="#{org.jboss.seam.web.session.invalidate()}" propagation="none" value="Terminate session"/>
				</p>
			</s:fragment>
	    </div>

	    <!-- session management iframes -->
	    <iframe title='empty' style='visibility: hidden;' width='0' height='0' tabindex='-1' id='rpiframe' src='#{request.contextPath}/rpiframe' onload="checkSessionPoll('rpiframe')"></iframe>
	    <iframe title='empty' style='visibility: hidden;' width='0' height='0' tabindex='-1' id='opiframe' src='/oxauth/opiframe' onload="checkSessionPoll('opiframe')"></iframe>
	    <script type="text/javascript">
		//<![CDATA[
		checkSessionPoll = (function () {
			var rpiframe_loaded = false;
			var opiframe_loaded = false;
			return function(frame) {
				if (frame == 'rpiframe') rpiframe_loaded = true;
				if (frame == 'opiframe') opiframe_loaded = true;
				if (rpiframe_loaded && opiframe_loaded) {
					var rpiframe = document.getElementById('rpiframe').contentWindow;
					poll = setInterval(rpiframe.checkSession, rpiframe.check_interval);
				}
			};
		})();
		//]]>
	    </script>
	</h:body>
</f:view>

</html>
