<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jstl/core"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:s="http://jboss.com/products/seam/taglib"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" type="text/css" href="/oxauth/login_assets/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/oxauth/login_assets/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" href="/oxauth/login_assets/bootstrap-yii.css" />
<link rel="stylesheet" type="text/css" href="/oxauth/login_assets/jquery-ui-bootstrap.css" />
<link rel="stylesheet" type="text/css" href="/oxauth/login_assets/font-awesome.css" />
<script type="text/javascript" src="/oxauth/login_assets/jquery.js"></script>
<script type="text/javascript" src="/oxauth/login_assets/bootstrap.min.js"></script>
<script type="text/javascript" src="/oxauth/login_assets/bootstrap-noconflict.js"></script>
<script type="text/javascript" src="/oxauth/login_assets/bootbox.min.js"></script>
<script type="text/javascript" src="/oxauth/login_assets/notify.min.js"></script>
<title>Single Sign-On</title>

<link href="/oxauth/login_assets/iGov.ico " rel="shortcut icon" />
<link href="/oxauth/login_assets/style-metro.css" rel="stylesheet" type="text/css"/>
<link href="/oxauth/login_assets/style.css" rel="stylesheet" type="text/css"/>
<link href="/oxauth/login_assets/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="/oxauth/login_assets/login-soft.css" rel="stylesheet" type="text/css"/>
<link href="/oxauth/login_assets/bootstrap-switch.css" rel="stylesheet"/>
<style>
	body { background-color: white !important; color: black; }
	canvas{ position: absolute; margin-top: -55px;padding: 0;width: 1300px; } @media (max-width: 480px) { canvas { margin-top: 5px; width: 95.8vw; } } @media (min-width: 480px) { canvas { width: 95.8vw; } } @media (max-width: 768px) { canvas { width: 98.8vw; } } @media (max-width: 992px) { canvas { width: 95.8vw; } } @media (min-width: 1200px) { canvas { width: 98.8vw; } }
</style>
</head>

<body class="login">
<canvas id="canvas"></canvas>


<!-- BEGIN LOGIN -->        
<div class="content">
	<div class="row">
		<div class="col-md-12">
			<!-- BEGIN LOGIN FORM -->
			<h:form class="form-vertical login-form" id="loginForm" action="#{authenticator.authenticate}">
				<!-- gluu form variables -->
				<s:token/>
				<c:set var="client" value="#{clientService.getClient(sessionAttributes['client_id'])}" />
				
				<h4>Single Sign-On</h4>

				<h:outputText value="#{messages['login.pleaseLoginHere']}" />
				<br />
				<h:messages id="messages" globalOnly="true" styleClass="message"
				            errorClass="errormsg" infoClass="infomsg" warnClass="warnmsg"
				            rendered="#{showGlobalMessages != 'false'}"/>

				<!-- space for client logo -->
				<s:div rendered='#{!empty client.getLogoUri()}'>
					<h:graphicImage url='#{client.getLogoUri()}' />
				</s:div>

				<div class="control-group">
					<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
					<label class="control-label">Username</label>
					<div class="controls">
						<div class="input-icon left">
							<i class="icon-user"></i>
							<h:inputText id="username" value="#{credentials.username}" class="form-control" required="yes" autocomplete="off" />
						</div>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">Password</label>
					<div class="controls">
						<div class="input-icon left">
							<i class="icon-lock"></i>
							<h:inputSecret id="password" class="form-control" value="#{credentials.password}" required="yes" autocomplete="off" onkeypress="capLock(event)" />
						</div>
						<span id="capsmssg" class="text-primary" style="visibility:hidden;">Caps Lock is ON</span>
					</div>
				</div>
				<div class="control-group">
					<h:outputLabel for="rememberMe" value="#{messages['login.rememberMe']}" />
					&#160;&#160;&#160;
					<h:selectBooleanCheckbox id="rememberMe" value="#{rememberMe.enabled}"/>
				</div>

				<s:div rendered='#{!empty client.getPolicyUri()}'>
					<p>
						<h:outputText value="#{messages['common.agreePolicy']}"/>
						<a target="_blank" href='#{client.getPolicyUri()}'>
							<h:outputText value="#{messages['common.privacyPolicy']}" />
						</a>
					</p>
				</s:div>

				<s:div rendered='#{!empty client.getTosUri()}'>
					<p>
						<h:outputText value="#{messages['common.pleaseReadTheTos']}"/>
						<a target="_blank" href='#{client.getTosUri()}'>
							<h:outputText value="#{messages['common.termsOfService']}" />
						</a>
					</p>
				</s:div>

				<div class="form-actions">
					<!-- <button id="loginForm:loginButton" name="loginForm:loginButton" type="submit" class="btn blue" value="#{messages['login.login']}">Login <i class="m-icon-swapright m-icon-white"></i></button> -->
					<h:commandButton id="loginButton"
					                 value="#{messages['login.login']}"
					                 action="#{authenticator.authenticate}" />				</div>
				<div class="clearfix"></div>
			</h:form>
			<!-- END LOGIN FORM -->  

			<style type="text/css">
			.text-danger{
				color: #f40909;
				font-weight: 600;
			}
			</style>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- END LOGIN -->

<!-- BEGIN LOGO -->
<div class="p-t-sm">
	<div class="logo">
		<img class="flogoimg" src="/oxauth/login_assets/front_logo.png "/>
	</div>
</div>
<!-- END LOGO -->

        <!--[if lt IE 9]>
	<script src="login/assets/plugins/excanvas.min.js"></script>
	<script src="login/assets/plugins/respond.min.js"></script>  
	<![endif]-->   

	<!-- BEGIN PAGE LEVEL PLUGINS -->
        <script src="/oxauth/login_assets/jquery.cookie.min.js" type="text/javascript" ></script>
        <script src="/oxauth/login_assets/jquery.uniform.min.js" type="text/javascript" ></script>
        <script src="/oxauth/login_assets/bootstrap-switch.js"></script>
        <!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="/oxauth/login_assets/app.js" type="text/javascript"></script>
	<script src="/oxauth/login_assets/login-soft.js" type="text/javascript"></script>      
	<!--<script src="/login/assets/scripts/login-pasko.js" type="text/javascript"></script>-->      
	<!-- END PAGE LEVEL SCRIPTS -->    
	<script>
		jQuery(document).ready(function() {     
		  App.init();
		  Login.init();
		});
	</script>
        <script type="text/javascript"><![CDATA[
        function capLock(e){
            kc = e.keyCode?e.keyCode:e.which;
            sk = e.shiftKey?e.shiftKey:((kc == 16)?true:false);
            if(((kc >= 65 && kc <= 90) && !sk)||((kc >= 97 && kc <= 122) && sk))
		document.getElementById('capsmssg').style.visibility = 'visible';
            else
		document.getElementById('capsmssg').style.visibility = 'hidden';
        }
        ]]></script>
	<!-- END JAVASCRIPTS -->
</body>
</html>
