/***
Login page
***/
.p-t-sm{
    padding-top: 50px;
}
/* logo page */
.login {
  background-color: #FFF !important;
}

.login .logo {
  width: 340px;
  margin: 0 auto;   
  margin-top:0px;
  padding: 15px;
  text-align: center;
}  

.flogoimg {
    width: 100%;
}
.login .content {
  background: #F7F7F7;
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px 0;

  color: #444;
  width: 291px;
  margin: 0 auto; 
  margin-bottom: 0px;
  padding: 30px;  
  padding-top: 20px;  
  padding-bottom: 15px;  
}
@media(max-device-width:480px) and (orientation:portrait){
    .login .content {
        height: 75vw;
    }  
}
@media(max-device-width:480px) and (orientation:landscape){
    .login .content {
        height: 43vw;
    }  
}

.login .content {
	margin-top: 8em;
}

.login .content h3 {
  color: #444;
}
.login .content h4  {
  color: #444;
}

.login .content p,
.login .content label {
  color: #444;
}

.login .content .login-form,
.login .content .forget-form {
    padding: 0px;
    margin: 0px;
}
.login .content .login-form .text-primary{
    color: #0B0BFF;
    font-weight: 400;
}
.login .content .m-wrap {
  width: 249px;
  background-color: #fff;
}


.login .content .control-group {
  margin-bottom: 20px !important;
}

.login .content .input-icon .m-wrap {  
  margin: 0px !important;
}

.login .content .forget-form {
  display: none;
}

.login .content .register-form {
  display: none;
}

.login .content .form-title {
  font-weight: 300;
  margin-bottom: 20px;
}
@media (max-width : 480px) {
/* Styles */
    .login .content .form-title {
        font-size: 5vw;
    }
}
.login .content .form-actions {
  background-color: transparent;
  clear: both;
  border: 0px;
  border-bottom1: 1px solid #999;
  padding: 0px 30px 5px 30px;
  margin-left: -30px;
  margin-right: -30px;
}



.login .content .form-actions .checkbox {
  margin-top: 8px;
  display: inline-block;
}

.login .content .form-actions .btn {
  margin-top: 1px;
}



.login .content .select2-container a span {
  font-size: 13px;
}

.login .content .select2-container a span img {
  margin-left: 4px;
}

/* footer copyright */
.login .copyright {
  text-align: center;
  width: 270px;
  margin: 0 auto; 
  padding: 10px 10px 0 10px;
  color: #eee;
  font-size: 12px;
}
.login .copyright a{
    color:#ffa626;
}
.login .copyright a:hover{
    zoom: 1.080;
    color: #fcb046;
}
.login .copyright .text-release{
    color: #ffa626
}

@media (max-width: 480px) {
  /***
  Login page
  ***/
  .login .logo {
   width: 80vw;
    margin-top:0;
  }
  .login .logo img{
      width: 70vw;
  }

  .login .content {
    padding: 15px 20px 15px 20px; 
    width: 222px;
  }

  .login .content h3 {
    font-size: 22px;
  }

  .login .content .m-wrap {
      width: 180px;
  }

  .login .checkbox {
    font-size: 13px;
  }
}
