/***
Modify bootstrap buttons
***/

/* remove rounds from all elements */
div, input, select, textarea, span, img, table, td, th, p, a, button, ul, li {
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

a:focus {
  outline: none !important;
}

a:hover, a:active {
  outline: 0 !important;
}

select:focus {
   outline: none !important;
}

.btn {
	background-color: #e5e5e5;
	background-image: none;
	filter: none;
	border: 0;
	padding: 7px 14px; 
	
	font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 14px;  	
  color: #333333;
	cursor: pointer;
	outline: none;
  -webkit-box-shadow: none !important;
     -moz-box-shadow: none !important;
          box-shadow: none !important;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;

  -webkit-text-shadow: none;
     -moz-text-shadow: none;
          text-shadow: none;
}
.btn:hover, 
.btn:focus, 
.btn:active,
.btn.active,
.btn[disabled],
.btn.disabled {  
  color: #333333;
  background-color: #d8d8d8 !important;
}

.btn.red-stripe
{
	border-left: 3px solid #d84a38;
}

.btn.blue-stripe
{
	border-left: 3px solid #4d90fe;
}

.btn.purple-stripe
{
	border-left: 3px solid #852b99;
}

.btn.green-stripe
{
	border-left: 3px solid #35aa47;
}

.btn.yellow-stripe {
    border-left: 3px solid #ffb848;
}

/*  Red */
.btn.red {
  color: white;  
  text-shadow: none;	
  background-color: #d84a38;
}
.btn.red:hover, 
.btn.red:focus, 
.btn.red:active, 
.btn.red.active,
.btn.red[disabled], 
.btn.red.disabled {    
  background-color: #bb2413 !important;
  color: #fff !important;
}

.btn-group .btn.red.dropdown-toggle {
  background-color: #d84a38 !important;
}
.btn-group .red.blue:hover, 
.btn-group .red.blue:focus, 
.btn-group .red.blue:active, 
.btn-group .red.blue.active, 
.btn-group .red.blue.disabled,
.btn-group .red.blue[disabled] { 
  background-color: #bb2413 !important;
  color: #fff !important;
}

/*  Blue */
.btn.transparent   
{
  color: black;  
  text-shadow: none;  
  background-color: transparent;
}

.btn.blue   
{
  color: white;  
  text-shadow: none;	
  background-color: #4d90fe;
}
.btn.blue:hover, 
.btn.blue:focus, 
.btn.blue:active,
.btn.blue.active,
.btn.blue[disabled],
.btn.blue.disabled {  
  background-color: #0362fd !important;
  color: #fff !important;
}

.btn-group .btn.blue.dropdown-toggle {
  background-color: #4d90fe !important;
}
.btn-group .btn.blue:hover, 
.btn-group .btn.blue:focus, 
.btn-group .btn.blue:active, 
.btn-group .btn.blue.active, 
.btn-group .btn.blue.disabled,
.btn-group .btn.blue[disabled] { 
  background-color: #0362fd !important;
  color: #fff !important;
}

/*  Green */
.btn.green {
  color: white;
  text-shadow: none;	 
  background-color: #35aa47;
}
.btn.green:hover, 
.btn.green:focus, 
.btn.green:active, 
.btn.green.active,
.btn.green.disabled, 
.btn.green[disabled]{ 
  background-color: #1d943b !important;
  color: #fff !important;
}

.btn-group .btn.green.dropdown-toggle {
  background-color: #35aa47 !important;
}
.btn-group .btn.green:hover, 
.btn-group .btn.green:focus, 
.btn-group .btn.green:active, 
.btn-group .btn.green.active, 
.btn-group .btn.green.disabled,
.btn-group .btn.green[disabled] { 
  background-color: #1d943b !important;
  color: #fff !important;
}

/*  Purple */
.btn.purple {
  color: white; 
  text-shadow: none;	
  background-color: #852b99;
}
.btn.purple:hover, 
.btn.purple:focus, 
.btn.purple:active, 
.btn.purple.active, 
.btn.purple.disabled,
.btn.purple[disabled] { 
  background-color: #6d1b81 !important;
  color: #fff !important;
}

.btn-group .btn.purple.dropdown-toggle {
  background-color: #852b99 !important;
}
.btn-group .btn.purple:hover, 
.btn-group .btn.purple:focus, 
.btn-group .btn.purple:active, 
.btn-group .btn.purple.active, 
.btn-group .btn.purple.disabled,
.btn-group .btn.purple[disabled] { 
  background-color: #6d1b81 !important;
  color: #fff !important;
}

/*  Yellow */
.btn.yellow {
  color: white; 
  text-shadow: none;	
  background-color: #ffb848;
}
.btn.yellow:hover, 
.btn.yellow:focus, 
.btn.yellow:active, 
.btn.yellow.active, 
.btn.yellow.disabled,
.btn.yellow[disabled] { 
  background-color: #eca22e !important;
  color: #fff !important;
}

.btn-group .btn.yellow.dropdown-toggle {
  background-color: #ffb848 !important;
}
.btn-group .btn.yellow:hover, 
.btn-group .btn.yellow:focus, 
.btn-group .btn.yellow:active, 
.btn-group .btn.yellow.active, 
.btn-group .btn.yellow.disabled,
.btn-group .btn.yellow[disabled] { 
  background-color: #eca22e !important;
  color: #fff !important;
}

/*  Black */
.btn.black {
  color: white; 
  text-shadow: none;	
  background-color: #555555;
}
.btn.black:hover, 
.btn.black:focus, 
.btn.black:active, 
.btn.black.active, 
.btn.black.disabled,
.btn.black[disabled] { 
  background-color: #222222 !important;
  color: #fff !important;
}

.btn-group .btn.black.dropdown-toggle {
  background-color: #555555 !important;
}
.btn-group .btn.black:hover, 
.btn-group .btn.black:focus, 
.btn-group .btn.black:active, 
.btn-group .btn.black.active, 
.btn-group .btn.black.disabled,
.btn-group .btn.black[disabled] { 
  background-color: #222222 !important;
  color: #fff !important;
}

.mini 
{
  height: 13px;
  font-size: 11px !important; 
  line-height: 13px;
  padding: 4px 10px;
}

.big
{
  height: 38px;
	font-size: 18px; 
	line-height: 38px; 	
	padding: 8px 16px;
}

button.btn.big,
input[type="button"].btn.big,
input[type="submit"].btn.big {
  height: 54px;
  padding-top: 9px;
  padding-bottom: 8px;
}

button.btn.mini,
input[type="button"].btn.mini,
input[type="submit"].btn.mini {
  height: 21px;
  padding-top: 3px;
  padding-bottom: 3px;
}

a.btn.big.btn-block {
 height: 54px;
}

/***
Metro icons
***/
[class^="m-icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;;
  margin-top: 4px;
  line-height: 14px;  
  vertical-align: top;
  background-image: url(syncfusion-icons.png);
  background-position: 0 0;
  background-repeat: no-repeat; 
}

[class^="m-icon-big-"] {
  display: inline-block;
  width: 30px;
  height: 30px; 
  margin: 6px;
  vertical-align: top;
  background-image: url(syncfusion-icons.png);
  background-position: 0 0px;
  background-repeat: no-repeat; 
}

.m-icon-white {
  background-image: url(syncfusion-icons-white.png);
}

/*  Misc */
.btn.icn-only {
  min-width: 14px;
}
.btn.bigicn-only {
  min-width: 34px;
}
.m-icon-swapright {
  background-position: -27px -10px;
}
.m-icon-swapdown {
  background-position: -68px -10px;
}
.m-icon-swapleft {
  background-position: -8px -10px;
}
.m-icon-swapup {
  background-position: -46px -10px;
}
.m-icon-big-swapright{
  background-position: -42px -28px;
}
.m-icon-big-swapdown{
  background-position: -115px -28px;
}
.m-icon-big-swapleft{
  background-position: -6px -28px;
}
.m-icon-big-swapup{
  background-position: -78px -28px;
}


